:root {
    --card-background-color: #f4f3ed;
    --card-dark-color: #111;
    --thick-line-strength: 1px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Fira Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


#wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr;

}

body {
    text-align: center;
    background-color: var(--card-dark-color);
    color: var(--card-background-color);
    margin: 0;
}

header {
    grid-column: span 4;
    grid-row: 1;
}

nav {
    grid-row: 1;
    background-color: var(--card-dark-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0.6rem 8rem;
}

#logo {
    text-align: left;
    text-transform: uppercase;
    margin-right: auto;
    font-weight: 600;
    font-size: 1rem;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    height: 3em;
    margin: 0 auto;
    flex-grow: 1;
    font-size: 0.8rem;
}

nav ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255);
}

main {
    grid-column: span 4;
    padding-top: 6rem;
}

.overview-page {
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.overview-header {
    color: var(--card-dark-color);
    top: 7rem;
    text-align: center;
    margin-top: 10vh;
    position: absolute;
    width: 25rem;
}

.overview-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-shadow:
    -0.5px -0.5px 0 #FFF,
    0.5px -0.5px 0 #FFF,
    -0.5px 0.5px 0 #FFF,
    0.5px 0.5px 0 #FFF;
}

.overview-header p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    text-shadow:
    -0.5px -0.5px 0 #FFF,
    0.5px -0.5px 0 #FFF,
    -0.5px 0.5px 0 #FFF,
    0.5px 0.5px 0 #FFF;
}

.overview-button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--card-background-color);
    background-color:  var(--card-dark-color);
}

.overview-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.overview-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2rem;
}

.faszinierende-wildtiere {
    text-align: center;
    margin-top: 3rem;
    padding: 0.6rem 8rem
}

.faszinierende-wildtiere h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: var(--card-background-color);
}

.info-rectangle {
    display: flex;
    margin-top: 2rem;
    border: 1px solid var(--card-background-color);
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.text-left {
    width: 50%;
    text-align: left;
    padding: 4rem;
    display: flex;
    /* Enables flexbox layout */
    flex-direction: column;
    /* Aligns content vertically */
    justify-content: flex-end;
}

.text-left h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--card-background-color);
}

.text-left p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--card-background-color);
}

.image-right {
    width: 50%;
}

.image-right img {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.info-row {
    display: flex;
    justify-content: space-between;
    /* Space evenly between rectangles */
    gap: 2.5rem;
    /* Add some space between rectangles */
    margin-top: 2.5rem;
    /* Space above the row */
}

.info-row-rectangle {
    background: none;
    /* No fill, just border */
    border: 1px solid var(--card-background-color);
    /* Adjust as needed */
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.info-img {
    flex: 1;
    width: 100%;
    /* Ensure image fits within the rectangle */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
}

.info-title {
    margin: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    /* text-transform: uppercase; */
}

.border-bottom {
    border-bottom: var(--thick-line-strength) solid var(--card-dark-color);
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem;
    justify-content: center;
    align-items: start; 
    justify-items: center;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--card-dark-color); 
}

.card-wrapper {
    background-color: var(--card-dark-color);
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    transition: all 0.3s ease-in-out;
    box-sizing: border-box; 
    margin: 0; 
    width: 350px;
    height: 500px; 
    cursor: pointer;
    position: relative;
}

.card-content {
    background-color: var(--card-background-color);
    color: var(--card-dark-color);
    display: grid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    border-radius: 1em;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card-wrapper:hover {
    transform: translateY(-10px); 
    border: solid 1px var(--card-background-color);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
}

.card-image {
    grid-column: span 6;
    grid-row: span 7;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-number {
    position: absolute;
    top: 60%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--card-background-color);
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 0.6em;
    width: 2.5em;
    height: 2.6em;
    background-color: var(--group-color);
    border: 1px solid var(--card-dark-color);
    box-shadow: 0 0 0 3px var(--card-background-color);
}

.card-title {
    grid-column: span 5;
    grid-row: 8;
    display: flex;
    align-items: center;
    padding-left: 4.8rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.card-trivia {
    grid-column: span 6;
    text-align: left;
    padding-left: 4.8rem;
    padding-right: 1rem;
    font-size: 0.68rem;
    line-height: 1.2; /* Adjust line height to ensure two lines */
    margin-bottom: 0.6rem;
    margin-top: -0.4rem;
    /* border-top: 1px solid var(--card-dark-color); */
    /* box-shadow: 2px 0px 10px var(--card-dark-color); */
}

.groupname {
    grid-column: span 4;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.9rem;
    left: 2.5rem;
    padding: 0.35rem 0.5rem;
    z-index: 1;
    color: var(--card-dark-color);
    font-size: 0.75em;
    font-weight: bold;
    text-shadow:
        -0.5px -0.5px 0 #FFF,
        0.5px -0.5px 0 #FFF,
        -0.5px 0.5px 0 #FFF,
        0.5px 0.5px 0 #FFF;
}

.group-rectangle {
    position: absolute;
    top: 6%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--card-background-color);
    font-weight: 700;
    font-size: 0.8rem;
    border-radius: 0.6em;
    width: 1.8em;
    height: 1.8em;
    background-color: var(--group-color);
    border: 1px solid var(--card-dark-color);
}

.intelligence-box {
    grid-column: 5 / span 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.9rem;
    right: 1rem;
    background-color: var(--card-dark-color);
    padding: 0.1rem 0.5rem;
    border-radius: 0.4em;
    z-index: 1;
    gap: 0.6rem;
    border: 2px solid var(--group-color);
}

.intelligence-icon {
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    color: var(--group-color)
}

.intelligence-content {
    font-size: 0.75em;
    font-weight: bold;
    color: var(--card-background-color);
}


.stat-box {
    grid-column: span 6;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.6em;
    padding: 0 1rem;
    margin-bottom: -0.8rem;
}

.stat-pair {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--card-background-color);
}

.stat-pair:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.stat-pair:nth-child(2) {
    grid-column: 3 / span 2;
    grid-row: 1;
}

.stat-pair:nth-child(3) {
    grid-column: 5 / span 2;
    grid-row: 1;
}

.stat-pair:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.stat-pair:nth-child(5) {
    grid-column: 3 / span 2;
    grid-row: 2;
}

.stat-pair:nth-child(6) {
    grid-column: 5 / span 2;
    grid-row: 2;
}

.stat-icon,
.stat-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: 500;
}

.stat-icon {
    background-color: #e8e8e3;
    border-radius: 0.6em;
}

.stat-icon img {
    max-height: 70%;
    max-width: 70%;
    object-fit: cover;
}

.stat-content {
    flex-wrap: wrap;
    word-break: break-word;
    text-align: center;
}

.card-bottom {
    grid-column: span 6;
    font-size: 0.65em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.5em;
    margin-top: 1.2rem;
    background-color: var(--group-color);
}

.group-A {
    --group-color: #7D982A;
}

.group-B {
    --group-color: #e92946;
}

.group-C {
    --group-color: #ceba60;
}

.group-D {
    --group-color: #5F9EA0;
}

.group-E {
    --group-color: #437ce6;
}

.group-F {
    --group-color: #27af86;
    ;
}

.group-G {
    --group-color: #92643c;
}

.group-H {
    --group-color: #7ed3d3;
}

.active-link {
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

/* Navigation Behavior */
.transparent-light {
    background-color: rgba(16, 16, 16, 0.1);
    transition: background-color 0.3s ease;
}

.transparent-dark {
    background: rgba(16, 16, 16, 0.93); 
    box-shadow: 0 4px 30px rgba(3, 3, 3, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgba(27, 27, 27, 0.52);
    transition: background-color 0.3s ease;
}


/* Font color for top of page */
.font-black {
    color: var(--card-dark-color);
}

/* Font color for scrolled state */
.font-white {
    color: var(--card-background-color);
}


/* Sorting Buttons*/
#sorting-buttons span {
    font-size: 0.8rem;
    margin-right: 2rem;
    display: inline-block;
    line-height: 2rem;
}

#sorting-buttons {
    margin: 3rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

#sorting-buttons button {
    appearance: none;
    background-color: #060606;
    border: #030303;
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--card-background-color);
    cursor: pointer;
    font-size: 0.7rem;
    line-height: normal;
    min-height: 20px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
}

/* Hover Effect */
#sorting-buttons button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

/* Active Button State */
#sorting-buttons button.active {
    background-color: var(--card-background-color);
    color: var(--card-dark-color);
}

#sorting-buttons button:active {
    box-shadow: none;
    transform: translateY(0);
}

#sorting-buttons button:disabled {
    pointer-events: none;
    opacity: 0.6;
    /* Visual indication of being disabled */
}


/* Back to Top Button */
#back-to-top {
    display: none;
    position: fixed;
    right: 2.5rem;
    padding: 0.5rem 0.6rem;
    background-color: var(--card-background-color);
    color: var(--card-dark-color);
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

#back-to-top:hover {
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
    padding: 0.6rem 0.7rem;
    transform: translateY(-2px);
}

#back-to-top.show {
    display: block;
    bottom: 3rem;
}

#back-to-top.hide {
    bottom: -3rem;
}